.row {
}
.col-md-4 {
  /* width: 100px; */
  border: 1px solid gray;
  padding: 0;
  margin: 0;
  width: auto;
  /* display: inline-block; */
}

.inside-box {
  margin: 0;
  width: 100px;
  height: 100px;
  border: 1px solid gray;
  font-size: 70px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.test {
  padding: 0;
  margin: 0;
}

body {
  text-align: center;
}
table {
  /* border: solid 3px black; */
  border-collapse: collapse;
  display: inline-block;
}

tr {
  /* display: inline-grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 200px 200px;
    justify-content: center; */
}

.selected-cell {

}

tr:nth-child(1) {
  border-top: solid 3px black;
}

tr:nth-child(3), tr:nth-child(6), tr:nth-child(9) {
  border-bottom: solid 3px black;
}

td:nth-child(1) {
  border-left: solid 3px black;
}

td:nth-child(3), td:nth-child(6), td:nth-child(9) {
  border-right: solid 3px black;
}

td {
  white-space:nowrap;
}

.highlight-cell-border {
  border: solid 3px teal;
}

.highlight-error-box {
  color: red;
}

.highlight-error {
  background-color: orange;
}
